/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  margin-top: 0.3%;
  margin-right: 0.3%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
 # border: violet 5px solid;
  position: inherit;
  height: 100%;
  margin: 0;
  padding: 0;
}
 #content{
 # border: red 5px solid;
  position: absolute;
  height: 100%;
  width: 49%;
  left: 0;
  margin-left: 2%;
}

